body {
    background-color: gray;
}

form {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.form-container {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.blue {
    display: block;
    width: 100%;
    background-color: blue;
    flex-grow: 1;
    width: 500px;
}