body {
    background-color: gray;
}

form {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

button {
    width: 100%;
    height: 30px;
}

.form-container {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}