.form-container {
    display: flex;
    flex-flow: row-reverse wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.red {
    display: block;
    background-color: red;
    height: 300px;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blue {
    display: block;
    background-color: blue;
    height: 300px;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.green {
    display: block;
    background-color: green;
    height: 300px;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}