.shipping {
    display: block;
    width: 100%;
    flex-grow: 1;
}

li {
    background-color: white;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}